<!DOCTYPE html>
<html lang="en">
  <head>
     <!-- Required meta tags -->   
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <title>Plans</title>

    <style>
      .loader {
          border: 16px solid #f3f3f3; /* Light grey */
          border-top: 16px solid #3498db; /* Blue */
          border-radius: 50%;
          width: 120px;
          height: 120px;
          animation: spin 2s linear infinite;
      }

      @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }
    </style>

  </head>
  <body>

    <% include partials/nav.ejs %>

    <p id='progress'>Exploring...</p>
    <div class="loader"></div>

    <ul id='event_list'>
    </ul>

  </body>

  <script>
    $( document ).ready(function() {
      console.log('In ready');
    if (navigator.geolocation) {
        console.log('In if');
        navigator.geolocation.getCurrentPosition(getData);
      } else { 
        console.log('In else');
        alert("Geolocation is not supported by this browser.");
      }
    });

      function getData(position) {
        var formData = new FormData();
        formData.append('lat', position.coords.latitude);
        formData.append('lon', position.coords.longitude);
        console.log(position.coords.latitude);
        console.log(position.coords.longitude);
        $.ajax({
          type: "POST",
          url: "/explore",
          data: formData,
          // Tell jQuery not to process data or worry about content-type
          contentType: false,
          processData: false,
          success: populatePage,
          error: function ( data ) {
            console.log('Error');
            console.log( JSON.stringify(data) );
          },
        });
      }

      function populatePage(events){

        $("#progress").hide();
        $(".loader").hide();

        var list = document.getElementById('event_list');

        nearby_events = events[0];
        friends_events = events[1];

        nearby_events.forEach(function(event){

          var $a = $("<a>", {href: "/event/view/" + event.id});
          $a.html(event.name);
          var $li = $("<li>");
          $li.html($a);
          $('#event_list').append($li);

        });

        friends_events.forEach(function(event){

          var $a = $("<a>", {href: "/event/view/" + event.id});
          $a.html(event.name);
          var $li = $("<li>");
          $li.html($a);
          $('#event_list').append($li);

        });
        
      }
    </script>

</html>
