<!DOCTYPE html>
<html>
  <head>
    <title>Plans</title>
  </head>
  <body>
    <h3>Search</h3>
    <form method="get" action="/search">
      <input type = "text" name = "user" <% if(query) {%> value = "<%= query %>" <%}%> >
      <input type="submit" value = "search">
    </form>
    <% if(users){ %>
    <ul>
      <% users.forEach(function(user){%>
        <li> <a href="/profile/<%= user.id %>" ><%= user.firstName %> <%= user.lastName %></a> </li>
      <% }); %>
    <ul>
    <% } %>
  </body>
</html>
